.container {
    padding: 20px;
    max-height: calc(100vh - 140px);
    overflow: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.characters-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 1rem;
}

.paginate-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgray;
    gap: 5%
}

.paginate-container p {
    font-size: 32px;
    line-height: 32px;
    margin: 10px 0;
}

.paginate-button {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: lightgray;
    padding: 2px;
    cursor: pointer;
}

.paginate-button :hover {
    background: gray;
    border-radius: 100%;
}

@media (max-width: 1000px) {
    .container {
        max-height: 100%;
    }
}

@media (max-width: 670px) {
    .characters-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: 250px;
    }
}
